<!DOCTYPE html>
<html ng-app="ending-game">
<head>
  <title>Ending Game</title>
  <link rel="stylesheet" href="app.min.css">
  <!--[if lt IE 9]>
    <script src="js/ie/html5shiv.js"></script>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/excanvas.js"></script>
  <![endif]-->
</head>
<body>
<section class="vbox">
  <!-- <header class="bg-dark dk header navbar navbar-fixed-top-xs">
    <div class="navbar-header aside-md">
      <a href="#" class="navbar-brand" data-toggle="fullscreen"><img src="assets/images/redstarlogo.png" class="m-r-sm">Ending Game</a>
    </div>
    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="thumb-sm avatar pull-left">
            <img src="assets/images/avatar.jpg">
          </span>
          Usman Sheikh <b class="caret"></b>
        </a>
      </li>
    </ul>
  </header> -->
  <div ng-view></div>
</section>
